venv/
.venv/
__pycache__/
*.pyc
.env
.pytest_cache/
Alfa.md
Audi.md
BMW.md
byd.md
Citroen.md
Dacia and Renault.md
Fiat.md
Ford.md
Honda.md
hyundai.md
Jaguar.md
Jeep.md
kia.md
Land Rover.md
Lexus.md
mazda.md
mercedes.md
MG.md
Mini.md
mitsubishi.md
nissan.md
Opel.md
peugeot.md
Porsche.md
seat&cupra.md
skoda.md
subaru.md
suzuki.md
tesla.md
toyota.md
volvo.md
VW.md
Zeekr.md